@import "config";
@import "jeet/index";
@import "knife/index";
@import "mixins";
@import "main";
@import "normalize";

body
{
    color: $textcolor;
}

.header-container
{
    background: $maincolor;

    .title
    {
            font-size: 0;
            line-height: 0;
    
            margin: 0;
            padding: 0;
            a
            {
                display: inline-block;
    
                width: 370px;
                height: 122px;
                margin-right: 0;
                margin-left: 0;
                padding: 0;
    
                background-image: url(../images/logo.png);
    
                @include hiddentext;
            }
    }

}

.container
{
    @include center($max_width: $container-desktop, $pad: $defaultpadding);
}

.slide
{
    overflow: auto;

    padding: 3% 0;

    background: #fff;
}

.main aside
{
    background: #fff;
}

footer
{
    *
    {
        color: #fff;
    }
}
