@import "config";
@import "jeet/index";
@import "knife/index";
@import "mixins";
@import "main";
@import "normalize";

body
{
    color: $textcolor;
}

.header-container
{
    background: $maincolor;
}

.title
{
    a
    {
        font-size: 0;
        line-height: 0;

        margin: 0;
        padding: 0;
        a
        {
            font-family: $mainfont;

            display: inline-block;

            width: 164px;
            height: 50px;
            margin-right: 0;
            margin-left: 0;
            padding: 0;

            background-image: url(images/logo.png);

            @include hiddentext;
        }
    }
}

.main aside {
    background: #ffffff;
}

footer {
    * {
        color: #ffffff;
    }
}