// Colors
$color-main: #e7305e;
$color-body: #20202f;
$color-headings: #20202f;

// Font settings
$font-base: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
$font-headings: 'Karla', 'Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Menlo', 'Courier', monospace;

// Font sizes and line heights
$font-min-size: 18px; // Minimum font size, on mobile
$font-max-size: 22px; // Maximum font size, on desktop
$font-base-line-height: 1.55; // Line height for paragraphs
$headings-weight: 800; // Default title weight. Usually 700 or 900 works pretty well

// Breakpoints
$grid-base: 1000px;
$container-tv: 1824px;
$container-large: 1224px;
$container-desktop: 960px;
$container-ipad: 768px;
$container-mobile: 480px;
