// Colors
$maincolor: #21398E;
$altcolor: #3498db;
$textcolor: #1C1C1B;

// Fonts
$google-protocol: "http";
$google-webfont: "Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic";

@if $google-protocol == "http" or $google-protocol == "https" {
    @import url('#{$google-protocol}://fonts.googleapis.com/css?family=#{$google-webfont}');
}

$mainfont: "Lato", Helvetica, Arial;
$headingfont: "Lato", Helvetica, Arial;
$themeoptions-base-font-size: 16px;

// Layout stuff
$defaultpadding: 20px;

// Breakpoints
$layout-max-width: 1600px;
$container-tv: 1824px; /* default: 1824px */
$container-large: 1224px; /* default: 1224px */
$container-desktop: 960px; /* default: 1170px, html5 boilerplate default: 1026px */
$container-landscape-ipad: 960px; /* default: 970px */
$container-ipad: 768px; /* default: 768px */
$container-mobile: 480px; /* default: 480px */
$responsivenav: 872px; /* set to navigation width */

// Basics
#page {
	max-width: $layout-max-width;
	margin-left: auto;
	margin-right: auto;
}

html { 
	box-sizing:border-box; 
}

*, *:before, *:after { 
	box-sizing:inherit; 
}

img { 
	box-sizing:content-box; 
}

h1, h2, h3, h4, h5, h6 {
	font-family:$headingfont;
	color: $maincolor;
}

p, ul, ol, dl, span, small, blockquote {
	font-family:$mainfont;
	color: $textcolor;
}

a {
	color: $altcolor;
	
	&:link, &:visited, &:focus {
		color: $altcolor;
	}

	&:hover {
		color: darken($altcolor,10%);
	}
}