@import "../../../bower_components/knife/knife";
@import "breakpoint-libsass";

// Scale factor constants. (from sassy-gridlover)
// Don't change them ever!
$MINOR_SECOND: 1.067;
$MAJOR_SECOND: 1.125;
$MINOR_THIRD: 1.2;
$MAJOR_THIRD: 1.25;
$PERFECT_FOURTH: 1.333;
$AUGMENTED_FOURTH: 1.414;
$PERFECT_FIFTH: 1.5;
$MINOR_SIXTH: 1.6;
$GOLDEN_SECTION: 1.618;
$MAJOR_SIXTH: 1.667;
$MINOR_SEVENTH: 1.778;
$MAJOR_SEVENTH: 1.875;
$OCTAVE: 2;
$MAJOR_TENTH: 2.5;
$MAJOR_ELEVENTH: 2.667;
$MAJOR_TWELFTH: 3;
$DOUBLE_OCTAVE: 4;

/* Type Setup */
$body-font-size:        $themeoptions-base-font-size;
$body-line-height:      $GOLDEN_SECTION; // default: golden: 1.618
$scale-factor:          $PERFECT_FOURTH;
$ie8compatability:      true;

/* Globals */
html { @include khtml(); }
body { @include kbody(); }

$weightvalue: (
  thin:   200,
  light:  300,
  regular:  400,
  bold:   700,
  black:  900
);

@mixin type-weight($weight) {
    font-weight: map-get($weightvalue, $weight);
}


p, ul, ol, dl { 
  @include ktype(0,0,1); 
}

small { 
  display: inline-block;
  @include ktype(-1,0,0); 
}


/// clearfix helper 
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { 
   clear: both;
  }
}

%fullblock {
  overflow: hidden;
  text-align: center;
  width:100%;
}

$scalevalue: (
    huge:        5,
    xxlarge:     4,
    xlarge:      3,
    large:       2,
    medium:      1,
    base:        0,
    normal:     -1,
    small:      -2,
    tiny:       -3
);

@mixin type-scale($scale, $before: 0, $after: 1, $offset: 0, $pull: false, $push: false, $ie: $ie8compatability) {
    @include ktype(map-get($scalevalue, $scale), $before, $after);
}

/* Headings */

h1 { @include type-scale(xxlarge, 2, 1); }
h2 { @include type-scale(xlarge, 1, 1); }
h3 { @include type-scale(large, 1, 1); }
h4 { @include type-scale(medium, 1, 1); }
h5 { @include type-scale(base, 1, 0); }
h6 { @include type-scale(normal, 1, 0); }

p { @include type-scale(base); }

.tiny { @include type-scale(tiny); }
.small { @include type-scale(small); }
.normal { @include type-scale(normal); }
.base { @include type-scale(base); }
.medium { @include type-scale(medium); }
.large { @include type-scale(large); }
.xlarge { @include type-scale(xlarge); }
.xxlarge { @include type-scale(xxlarge); }
.huge { @include type-scale(huge); }


/* Mobile */
@include breakpoint(20em) {

  h1 { @include type-scale(large, 1, 1); }
  h2 { @include type-scale(medium, 1, 1); }
  h3 { @include type-scale(base, 1, 1); }
  h4 { @include type-scale(base, 1, 0); }
  h5 { @include type-scale(normal, 1, 0); }
  h6 { @include type-scale(small, 1, 0); }
  
  p, ul, ol, dl, blockquote, .base { 
    @include krem('font-size', 20px);
  }
  
  // body { border: 10px solid #e74c3c; }

}

/* Tablet */
@include breakpoint(40em) {

  h1 { @include type-scale(xlarge, 1, 1); }
  h2 { @include type-scale(large, 1, 1); }
  h3 { @include type-scale(medium, 1, 1); }
  h4 { @include type-scale(base, 1, 0); }
  h5 { @include type-scale(base, 1, 0); }
  h6 { @include type-scale(small, 1, 0); }

  p, ul, ol, dl, blockquote, .base { 
    @include type-scale(base);
  }

  // body { border: 10px solid #9b59b6; }

}

/* Laptop */
@include breakpoint(60em) {

  h1 { @include type-scale(xxlarge, 2, 1); }
  h2 { @include type-scale(xlarge, 1, 1); }
  h3 { @include type-scale(large, 1, 1); }
  h4 { @include type-scale(medium, 1, 1); }
  h5 { @include type-scale(base, 1, 0); }
  h6 { @include type-scale(normal, 1, 0); }

  p, ul, ol, dl, blockquote, .base { 
    @include type-scale(base);
  }

  // body { border: 10px solid #3498db; }

}

/* Desktop */
// @include breakpoint(80em) {

//   h1 { @include type-scale(huge, 3, 1); }
//   h2 { @include type-scale(xxlarge, 2, 1); }
//   h3 { @include type-scale(xlarge, 1, 1); }
//   h4 { @include type-scale(large, 1, 1); }
//   h5 { @include type-scale(medium, 1, 1); }
//   h6 { @include type-scale(base, 1, 0); }

//   p, ul, ol, dl, blockquote, .base { 
//     @include type-scale(medium);
//   }

//   //body { border: 10px solid #2ecc71; }

// }

/* Font smoothing options */
body {
  font-smooth: always;
  font-smoothing: antialiased;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
}