// HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/

html,
button,
input,
select,
textarea {
    color: $color__text;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container,
.footer-container,
.main aside {
    background: $color__main;
}

.title {
    color: #fff;
}

// ==============
// MOBILE: Menu
// ==============

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: #fff;
    background: darken($color__main, 10%);
}

nav a:hover,
nav a:visited {
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

// ==============
// MOBILE: Main
// ==============

.main {
    padding: 30px 0;

  aside {
      color: #fff;
      padding: 0 5% 10px;
  }
}

.footer-container footer {
    color: #fff;
    padding: 20px 0;
}

// ===============
//  ALL: IE Fixes
// ===============

.ie7 .title {
    padding-top: 20px;
}

// ==========================================================================
// Media Queries
// ==========================================================================

@media only screen and (min-width: $container__mobile) {

// ====================
// INTERMEDIATE: Menu
// ====================

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

// ========================
// INTERMEDIATE: IE Fixes
// ========================

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 .7%;
    }
}

@media only screen and (min-width: $container__ipad) {

// ============
// WIDE: Menu
// ============

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

// ============
// WIDE: Main
// ============

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

// ===============
// Maximal Width
// ===============

    .wrapper {
        width: $container__desktop; // 1140px - 10% for margins */
        margin: 0 auto;
    }
}

// ==========================================================================
// Helper classes
// ==========================================================================

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: '';
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

// ==========================================================================
// Print styles
// ==========================================================================

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: ' (' attr(href) ')';
    }

    abbr[title]:after {
        content: ' (' attr(title) ')';
    }

    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: .5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
