// Colors (more: @link http://www.flatuicolorpicker.com/)
$color__main: #2c3e50; // Madison
$color__alt: #34495e; // Pickled Bluewood
$color__text: #1c1c1b;

// Set up the fonts in src/sass/typography/webfonts.scss
$font__main: "Lato", "Helvetica Neue", Helvetica, Arial;
$font__headings: "Lato", "Helvetica Neue", Helvetica, Arial;
$font__size__min: 19px;
$font__size__base: 22px;
$font__size__baseline: $font__size__base;

// Layout stuff
$defaultpadding: 20px;

// Breakpoints
$layout__max-width: 1600px;
$container__tv: 1824px; // default: 1824px
$container__large: 1224px; // default: 1224px
$container__desktop: 960px; // default: 1170px, html5 boilerplate default: 1026px
$container__landscape-ipad: 960px; // default: 970px
$container__ipad: 768px; // default: 768px
$container__mobile: 480px; // default: 480px
$responsivenav: 872px; // set to navigation width
