/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import "../../../bower_components/normalize-scss/normalize";

/*--------------------------------------------------------------
# Glyph icons
--------------------------------------------------------------*/
@import "../../../bower_components/font-awesome/scss/font-awesome";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "../../../bower_components/jeet/scss/jeet/index";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "config";
@import "boilerplate";
@import "mixins";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "../typography/index";

/*--------------------------------------------------------------
# Layout start >>>
--------------------------------------------------------------*/

// Basics
#page {
    max-width: $layout__max-width;
    margin-left: auto;
    margin-right: auto;
}

html { 
    box-sizing: border-box; 
}

*, *:before, *:after { 
    box-sizing: inherit; 
}

img { 
    box-sizing: content-box; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font__headings;
    color: $color__main;
}

p, ul, ol, dl, span, small, blockquote {
    font-family: $font__main;
    color: $color__text;
}

a {
    color: $color__alt;
    
    &:link, &:visited, &:focus {
        color: $color__alt;
    }

    &:hover {
        color: darken($color__alt, 10%);
    }
}

body {
  color: $color__text;
}

nav {
    li {
        font-size: 0.7rem;
    }
}

.header-container {
  background: $color__main;

  .title {
    @include rem('margin-top', 10px);
    @include rem('margin-bottom', 10px);
    padding: 0;
    line-height: 1.3;
  }
}

.container {
  @include center($max_width: $container__desktop, $pad: $defaultpadding);
}

.slide {
  overflow: auto;
  padding: 4% 1%;
  background: #fff;

  &.slide-alt {
    background: #f0f0f0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.main aside {
  background: #fff;
}

.footer-container {

  h3 {
    margin-top: 0;
  }
  
  footer {
    * {
      color: #fff;
    }
  }
}
