/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
@import "../../../bower_components/normalize-scss/normalize";

/*--------------------------------------------------------------
# Glyph icons
--------------------------------------------------------------*/
@import "../../../bower_components/font-awesome/scss/font-awesome";

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
@import "../../../bower_components/jeet/scss/jeet/index";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "config";
@import "main";
@import "mixins";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "../typography/fontface";
@import "../typography/webfonts";
@import "../typography/knife/index";

/*--------------------------------------------------------------
# Layout start >>>
--------------------------------------------------------------*/

body
{
    color: $textcolor;
}

.header-container
{
    background: $maincolor;

    .title
    {    
            @include krem('margin-top', 10px);
            @include krem('margin-bottom', 10px);
            padding: 0;

            // a
            // {
            //     display: inline-block;
    
            //     width: 370px;
            //     height: 122px;
            //     margin-right: 0;
            //     margin-left: 0;
            //     padding: 0;
    
            //     background-image: url(../images/logo.png);
    
            //     @include hiddentext;
            // }

            // font-size: 0;
            // line-height: 0;
    }

}

.container
{
    @include center($max_width: $container-desktop, $pad: $defaultpadding);
}

.slide
{
    overflow: auto;

    padding: 4% 1%;

    background: #fff;

    &.slide-alt {
        background: #f0f0f0;
    }
}

.main aside
{
    background: #fff;
}

.footer-container
{
    footer
    {
        * {
            color: #fff;
        }
    }
}
